<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>MyWebApp</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">MyWebApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dishes</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to MyApp with Flask WISGI Server</h1>
          <p>This is our elearning platform</p>
      </div>
    </div>

    <center>

        <h3>Welcome to MyApp with Flask WISGI Server</h3>
        You can Register or Login

        <form action="" method="post">
            Enter Your Name:
            <br/>
            <input type="text" name="txtName" placeholder="John Watson"/>
            <br/><br/>
            Enter Your Email:
            <br/>
            <input type="text" name="txtEmail" placeholder="john@example.com"/>
            <br/><br/>
            Enter Your Password:
            <br/>
            <input type="password" name="txtPassword" placeholder="minimum 6 character"/>
            <br/><br/>
            <input type="submit" value="REGISTER"/>

        </form>
    </center>

</body>
</html>